---

---

<!--Footer-->
<div class="w-full pt-16 pb-6 text-sm fade-in flex items-center justify-center select-none">
  <a class="text-gray-500 no-underline" href="#">&copy; 2023</a>
  - Email Extractor by&nbsp;
  <a
    class="text-gray-500 no-underline"
    href="https://github.com/kevincobain2000">kevincobain2000</a
  >
</div>
<style></style>
