---
import octocat from '@assets/octocat.svg?raw'
---

<div
  class="container pt-10 md:pt-10 mx-auto flex flex-wrap flex-col md:flex-row items-center"
>
  <div
    class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden"
  >
    <h1
      class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left"
    >
      Email
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"
      >
        Extractor
      </span>
      <br />
      <span class="text-2xl">
        Extract Emails from websites, by crawling and scraping
      </span>
    </h1>
    <p
      class="leading-normal text-base md:text-xl mb-8 text-center md:text-left"
    >
      Target what matters.
    </p>

    <div
      class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4"
    >
      <div class="mb-4">
        <label
          class="block text-blue-300 py-2 font-bold mb-2"
          for="emailaddress"
        >
          Ideal for marketing and sales teams
        </label>
        <p>
            Email Extractor is a tool that helps you extract emails from websites.
            <br>
            It can crawl and scrape websites of any depth and extract emails.
            <br><br>
        </p>
        <p class="text-sm text-slate-100 font-mono">
            Works on any website, just provide the URL <br>
            Self Hosting available <br>
            Copy to clipboard <br>

            Blazing Fast <br>

        </p>
      </div>
      <div class="flex items-center justify-between pt-4">
        <a
          class="bg-gradient-to-t from-blue-500 to-blue-500 hover:from-blue-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
          type="button"
          href="/extract"
        >
            Free Online Tool
        </a>
        <a
          class="bg-gradient-to-t from-green-500 to-green-500 hover:from-green-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
          type="button"
          href="https://github.com/kevincobain2000/email_extractor"
        >
          Github
        </a>
      </div>
      <!-- <div class="flex items-center justify-between pt-4">
        <p class="font-bold">Featured!</p>
        <a
          href="https://www.producthunt.com/posts/coveritup?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-coveritup"
          target="_blank"
          ><img
            src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=433114&theme=dark"
            alt="CoverItUp - All&#0032;in&#0032;one&#0032;code&#0032;coverage&#0032;and&#0032;badges&#0032;tool&#0046; | Product Hunt"
            style="width: 250px; height: 54px;"
            width="250"
            height="54"
          /></a
        >
      </div> -->
    </div>
  </div>


  <style></style>
</div>
