---

---

<div
  class="container pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center"
>
  <!--Left Col-->
  <div
    class="flex flex-col w-full xl:w-3/5 justify-center lg:items-start overflow-y-hidden"
  >
    <h1
      class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left"
    >
      Free!
      <br>
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"
      >
        With
      </span>
       Self Hosted Options.
    </h1>

    <div
      class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4"
    >
      <div class="mb-4">
        <label
          class="block text-blue-300 py-2 font-bold mb-2"
          for="emailaddress"
        >
          High performance, multi-threading! <br>
          See Self Hosting dependency free binary.
        </label>
      </div>

      <div class="flex items-center justify-between pt-4">
        <a
          class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
          type="button"
          href="https://github.com/kevincobain2000/email_extractor"
        >
          Download From Github
        </a>
      </div>
    </div>
  </div>

  <style></style>
</div>
