---

---

<div class="mx-auto md:pt-16">
  <p class="text-violet-400 font-bold pb-6 lg:pb-6 text-center text-3xl">
    <br />Github <br />
  </p>
  <p class="text-center font-mono text-lg">Code Available on Github</p>

  <p class="text-center pt-5 pb-5 text-white">
    Supports both CLI and web application.
  </p>
  <p class="text-center font-bold pt-5 pb-5 text-white">
    <a
    class="bg-gradient-to-l from-yellow-300 to-yellow-300  text-black font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
      type="button"
      href="/extract">
      Use it Now
    </a>
  </p>
</div>
<style></style>
