---
import Layout from "@components/Layout.astro";
import Nav from "@components/Nav.astro";
import Themes from "@components/Themes.astro";
import Hero from "@components/Hero.astro";
import Article from "@components/Article.astro";
import SelfHosting from "@components/SelfHosting.astro";
import FinalAction from "@components/FinalAction.astro";
import Footer from "@components/Footer.astro";
---

<Layout
    title="Online Email Extractor Free | Extract Emails from websites, by crawling and scraping"
    description="A free utility to extract email address by crawling a given url upto a given depth or number of urls to crawl provided by the user. Web email extractor by url crawl using web interface. Email addresses can be extracted from any url. First it extracts all the number of urls provided by the user and at the same time extracts emails using simple Go routines. This simple application allows to crawl through a website with depth options."
>
  <div class="h-full">
    <Nav />

    <Hero />
    <Article />
    <Themes />
    <SelfHosting />
    <FinalAction />
    <Footer />
  </div>
</Layout>

<style></style>
